# Example File for the Original config.env File

PORT=<PORT-Number>

DB_URI="mongodb://<URI>"

JWT_SECRET=<SECRET-STRING>

JWT_EXPIRE=<days>

COOKIE_EXPIRE=<days-count>

SMPT_SERVICE=<provider-name>

SMPT_MAIL=<EMAIL-ID>

SMPT_PASSWORD=<PASSWORD>

SMPT_HOST=smpt.gmail.com

SMPT_PORT=465

CLOUDINARY_NAME=<cloudinary-name>

CLOUDINARY_API_KEY=<api-key>

CLOUDINARY_API_SECRET=<api-secret>

FRONTEND_URL=<frontend-url>

STRIPE_API_KEY=<stripe-api-key>

STRIPE_SECRET_KEY=<stripe-secret-key>